// color
$soomgo-main__color: #00c7ae;

// line color
$border-line__color: #e1e1e1;

// font-color
$main-text__color: #323232;
$sub-text__color: #737373;
$mini-text__color: #c5c5c5;
$soomgo-pay__color: #2257df;

// font-size
$h2-text__size: 1.5rem;
$main-text__size: 1rem;
$sub-text__size: 0.875rem;
$mini-text__size: 0.75rem;
